@tailwind base;
@tailwind components;
@tailwind utilities;

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.col {
  flex: 1 0 0%;
}

.classselectdiv img {
  transition: all 0.2s ease-in-out;
  border-radius: 100%;
}

.classselectdiv:hover img {
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.mage {
  color: #3fc7eb;
  -webkit-text-stroke: 1px black;
}

.magesmall {
  background-color: #3fc7eb;
}

.druid {
  color: #ff7d0a;
  -webkit-text-stroke: 1px black;
}

.druidsmall {
  background-color: #ff7d0a;
}

.hunter {
  color: #abd473;
  -webkit-text-stroke: 1px black;
}

.huntersmall {
  background-color: #abd473;
}

.paladin {
  color: #f58cba;
  -webkit-text-stroke: 1px black;
}

.paladinsmall {
  background-color: #f58cba;
}

.priest {
  color: #ffffff;
  -webkit-text-stroke: 1px black;
}

.priestsmall {
  background-color: #ffffff;
}

.rogue {
  color: #fff569;
  -webkit-text-stroke: 1px black;
}

.roguesmall {
  background-color: #fff569;
}

.shaman {
  color: #0070de;
  -webkit-text-stroke: 1px black;
}

.shamansmall {
  background-color: #0070de;
}

.warlock {
  color: #9482c9;
  -webkit-text-stroke: 1px black;
}

.warlocksmall {
  background-color: #9482c9;
}

.warrior {
  color: #c79c6e;
  -webkit-text-stroke: 1px black;
}

.warriorsmall {
  background-color: #c79c6e;
}

.evoker {
  color: #33937f;
  -webkit-text-stroke: 1px black;
}

.evokersmall {
  background-color: #33937f;
}

.neutral {
  color: #000000;
  -webkit-text-stroke: 1px black;
}

.deathknight {
  color: #c41f3b;
  -webkit-text-stroke: 1px black;
}

.deathknightsmall {
  background-color: #c41f3b;
}

.demonhunter {
  color: #a330c9;
  -webkit-text-stroke: 1px black;
}

.demonhuntersmall {
  background-color: #a330c9;
}

.monk {
  color: #00ff98;
  -webkit-text-stroke: 1px black;
}

.monksmall {
  background-color: #00ff98;
}

.headerbanner {
  background-image: url("./assets/images/headerbanner.jpg");
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: -300px;
}

.App {
  background-image: url("./assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media not all and (min-width: 640px) {
  .headerbanner {
    background-position-y: -100px;
  }
}
